extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/index.css")
block content
    div.main-wrapper
        main
            h1 Shorten your URL
            form(action="/" method="POST")
                input(type="text" name='url')
                button(type='submit') Get URL
    div
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam delectus pariatur exercitationem voluptates incidunt fugit quia, obcaecati voluptate, hic iure dolor. Laboriosam nesciunt nulla quam vero tenetur soluta! Et, at.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquid officiis quod repellendus deserunt tempore consequatur enim iusto nulla! Repellat quod, obcaecati eum autem quos iste. Velit aut dolor libero.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in accusantium delectus!