body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.main-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  &__item {
    float: left;
  }

  &__item a:hover {
    background-color: #111;
  }

  &__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  &__item.active {
    background-color: #4caf50;
  }
}
